$bg-color-header: #1e2341; // 头部导航主色调1
$bg-color-header2: #323b75; // 头部导航主色调2
$bg-font-color2: #797887; // 头部字体颜色主色调2
$bg-color-asideNav: #363d67; // 左侧栏导航主色调1
$bg-color-asideNav2: #1e2341; // 左侧栏导航主色调2
$bg-color-active2: #161b2b; // 左侧栏导航active样式2
$bg-color-bd5: #f3f5f8; // body区域（灰色）主色调
$a-color-link: #3399ff; // 链接蓝色文字颜色
$text-color-blue0ff: #2480ff; // table操作蓝色文字颜色
$text-color-Invalid: #c3cbd6; // 失效颜色
$text-color-title: #464c5b; // （主次小标题）标题颜色
$text-color-error: #ed3f14; // Error红色错误样式
$text-color-success: #19be6b; // 成功绿色样式
$text-color-disabled: #bbbec4; // 失效disabled 样式
$border-color-de1: #dddee1; // 边框颜色（border）
$border-color-5de: #ced5de; // 边框颜色（border）
